.clearfix{*zoom:1;}
.clearfix:after{content:"";clear:both;display:block;}
*{margin:0;padding:0;}
.box{
	width:100%;
	height:auto;
	background:#333;
}
.maskBox1{
	width:708px;
	height:576px;
	margin:100px auto 0;
	background:url(/shop/Public/image/reg_bg.png) no-repeat left top;
	text-align:center;
}
.img1{
	width:204px;
	height:70px;
	margin:0 auto;
	
}
.leftDiv{
	width:20%;
	height:220px;
	float:left;
	text-align:right;
}
.leftDiv span{
	line-height:40px;
	border-bottom:1px solid #333;
	margin-bottom:4px;
	color:#fff;
}
.rightDiv{
	width:420px;
	height:220px;
	float:left;
	position:relative;
	
}
.rightDiv input{
	outline: none;
	padding-left:10px;
	width:400px;
}
.leftDiv span,.rightDiv input{
	display:block;
	height:40px;
	
}
.v_container1{
	position:absolute;
	bottom:2px;
	right:6px;
}
.bottomDiv{
	width:708px;
	float:left;
}
.my_button{
	border:1px solid #333;
	outline:none;
	width:300px;
	height:40px;
	font-weight:bold;
}
